@use "./base";
@use "./abstracts" as var;
@use "./layouts";
@use "./components";

body {
  line-height: 1.3;
}

.container-narrow {
  max-width: 71%;
  margin-inline: auto;

  @include var.breakpoint(tablet) {
    max-width: 95%;
  }
}

.btn {
  border: 1px solid black;
  text-decoration: none;
  @include var.fontSize(20);
  font-weight: 600;
  padding: 1.6rem;
  color: black;
}

h1 {
  font-size: calc(35px + (41 - 35) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
}

h2 {
  font-size: calc(39px + (49 - 39) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
}

h3 {
  @include var.fontSize(24);
  font-weight: 600;
}

h4 {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
}

.gray-background {
  background: var.$lightGray;
}

.text-flexible {
  font-size: 1.9rem;

  p:not(:first-of-type) {
    margin-top: 0.5em;
  }

  @include var.breakpoint(tablet) {
    font-size: 1.6rem;
  }
}

.image-texte-flexible {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  align-items: center;
  gap: 2rem;

  img {
    justify-self: center;
  }

  @include var.breakpoint(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
