@use "./base";
@use "./abstracts" as var;
@use "./layouts";
@use "./components";

h3 {
  @include var.fontSize(2.4rem);
  font-weight: 600;
}

.container-narrow {
  max-width: 66%;
  margin-inline: auto;
}
