@use "../abstracts" as var;

#engagements {
  .hero-banner .container-narrow {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    place-items: center;

    @include var.breakpoint(tablet) {
      max-width: 100%;
      display: flex;
      justify-content: end;

      img {
        max-width: 60%;
        object-fit: cover;
        min-height: 416px;
      }
    }

    @include var.breakpoint(mobile) {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: center;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .hero-banner-content {
    background: var.$blue;
    padding: 5rem;
    color: white;
    font-size: 1.9rem;
    position: relative;
    margin-right: -5em;
    z-index: 10;

    @include var.breakpoint(tablet) {
      max-width: 40%;
      font-size: 1.6rem;
    }

    @include var.breakpoint(926px) {
      max-width: 65%;
      margin-right: -17em;
    }

    @include var.breakpoint(mobile) {
      max-width: 95%;
      margin-inline: auto;
      margin-top: -5em;
      padding: 3rem;
    }

    h2 {
      margin-bottom: 2.5rem;
    }

    p:not(last-child) {
      margin-bottom: 2em;
    }
  }

  .programme {
    margin-top: 4.6rem;
    background: var.$lightGray;
    padding-block: 4.7rem 7.9rem;

    h4 {
      font-size: calc(29px + (39 - 29) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: 2.6rem;

      @include var.breakpoint(mobile) {
        text-align: center;
      }
    }

    .programme-content {
      div {
        font-size: 1.9rem;
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      .btn {
        margin-top: 3.8rem;
        display: flow-root;
        width: fit-content;
        font-size: 2rem;
        background: black;
        color: white;
        transition: 0.3s ease-in-out;

        &:hover {
          background: transparent;
          color: black;
        }
      }
    }

    img {
      max-width: 331px;

      @include var.breakpoint(tablet) {
        max-width: 206px;
      }
    }

    .container-narrow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5.8rem;

      @include var.breakpoint(mobile) {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .gammes {
    display: flex;
    justify-content: start;
    align-items: center;

    h2 {
      margin-bottom: 3.8rem;

      @include var.breakpoint(mobile) {
        text-align: center;
      }
    }

    strong {
      margin-bottom: 1.9rem;
    }

    img {
      position: relative;
      margin-left: -5%;

      @include var.breakpoint(1054px) {
        width: 39%;
      }

      @include var.breakpoint(mobile) {
        display: none;
      }
    }
  }

  .left-gammes {
    background: var.$blue;
    color: white;
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56%;
    font-size: 1.9rem;

    @include var.breakpoint(tablet) {
      width: 61%;
    }

    @include var.breakpoint(1054px) {
      width: 65%;
    }

    @include var.breakpoint(mobile) {
      width: 100%;
      height: fit-content;
      padding-block: 3.9rem;
    }

    div {
      margin-inline: auto;
      width: 57%;

      @include var.breakpoint(tablet) {
        width: 85%;
      }

      @include var.breakpoint(mobile) {
        width: 95%;
      }
    }

    ul {
      margin-left: 2.5em;
    }
  }

  .partners {
    display: flex;
    justify-content: start;
    align-items: start;

    @include var.breakpoint(tablet) {
      margin-bottom: 20.8rem;
      img {
        width: 60%;
      }
    }

    @include var.breakpoint(mobile) {
      margin-bottom: 0;
      flex-direction: column;

      img {
        width: 100%;
      }
    }
  }

  .partners_content {
    background: white;
    width: 1108px;
    padding-block: 9.1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -18%;
    align-self: center;

    @include var.breakpoint(tablet) {
      top: 17rem;
      margin-left: -41%;
      padding-block: 5.1rem 3rem;
    }

    @include var.breakpoint(mobile) {
      width: 98%;
      margin-right: 0;
      margin-left: 0;
      align-self: end;
      top: unset;
      margin-top: -15em;
    }

    .content-container {
      max-width: 86%;
      margin-inline: auto;
      font-size: 1.9rem;
    }

    h4 {
      font-size: calc(29px + (39 - 29) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 700;
      margin-bottom: 4.2rem;
      line-height: 1.3;
    }

    strong {
      margin-bottom: 4.8rem;
      font-size: 2.4rem;
      display: flow-root;
    }

    a {
      border: 1px solid black;
      text-decoration: none;
      @include var.fontSize(20);
      font-weight: 600;
      padding: 1.6rem;
      color: white;
      background: black;
      margin-block: 2rem 6.4rem;
      display: flow-root;
      width: fit-content;
      transition: 0.3s ease-in-out;

      &:hover {
        background: transparent;
        color: black;
      }
    }
  }
}
