@use "../abstracts" as var;

#front-page {
  .sub-title {
    margin-bottom: 4.1rem;
    font-size: 1.9rem;
    max-width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include var.breakpoint(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin-bottom: 6.1rem;
    }

    @include var.breakpoint(mobile) {
      max-width: 100%;
    }

    .text {
      max-width: 60%;
      line-height: 1.3;

      @include var.breakpoint(tablet) {
        max-width: 100%;
      }
    }

    .btn {
      color: white;
      background: black;
      border: 1px solid black;
      transition: 0.3s ease-in-out;
      display: flow-root;
      width: fit-content;

      &:hover {
        color: black;
        background: transparent;
      }

      @include var.breakpoint(tablet) {
        margin-top: 3.4rem;
      }
    }
  }

  article {
    margin-block: 4rem 3.2rem;
    font-size: 1.9rem;

    @include var.breakpoint(tablet) {
      font-size: 1.6rem;
    }

    h2 {
      margin-bottom: 3.2rem;

      @include var.breakpoint(mobile) {
        text-align: center;
      }
    }

    p:not(:last-child) {
      margin-bottom: 2rem;
    }

    strong {
      font-size: 2.6rem;
      margin-bottom: 3rem;
      display: flow-root;

      @include var.breakpoint(tablet) {
        font-size: 2rem;
      }
    }

    p,
    a {
      margin-left: 10.6rem;
      line-height: 1.1;

      @include var.breakpoint(tablet) {
        margin-left: 6.8rem;
      }

      @include var.breakpoint(mobile) {
        margin-left: 0;
      }
    }

    .wp-block-button__link {
      background: black;
      margin-top: 3.2rem;
      color: white;
      border: 1px solid black;
      border-radius: 0;
      opacity: 1;
      padding: 1.6rem;
      font-size: 2rem;
      font-weight: 600;
      transition: 0.3s ease-in-out;

      &:hover {
        background: transparent;
        color: black;
      }
    }
  }

  .featured-news {
    .post-content {
      h4 {
        line-height: 1.2;
        margin-top: 0.4em;
      }
    }
  }

  .featured-products {
    margin-block: 5rem 4.5rem;

    h2 {
      color: var.$blue;
      text-align: center;
      margin-bottom: 0.24rem;
    }

    .products-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      @include var.breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 13.9rem;
        row-gap: 4.4rem;
      }

      @include var.breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.4rem;
      }
    }

    .image-container {
      width: 100%;
      height: 318px;
      position: relative;

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    a:hover {
      .overlay {
        opacity: 1;
      }
    }

    .overlay {
      background: hsl(206 93% 34% / 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    .btn {
      color: white;
      border-color: white;
      background: transparent;
    }

    .product-link {
      font-size: 1.9rem;
      text-decoration: none;
      color: black;
    }

    h3 {
      color: #000;
      max-width: 98%;
      margin-block: 2.3rem 0.8rem;
      font-size: 2rem;
      line-height: 1;

      @include var.breakpoint(tablet) {
        margin-block: 2.3rem 1.5rem;
      }
    }

    .product-categories {
      color: #0661a7;
      justify-content: start;
      align-items: center;
      font-size: 1.9rem;
      display: flex;
      flex-wrap: wrap;

      li:not(:last-child)::after {
        content: ",";
        color: #0661a7;
        margin-right: 0.3em;
        font-size: 1.9rem;
      }
    }
  }

  .savoir-faire {
    margin-block: 7.1rem 2.7rem;

    @include var.breakpoint(mobile) {
      margin-block: 3.1rem 2.7rem;
    }
    h2 {
      margin-bottom: 1.7rem;
    }

    .savoir {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: start;
      gap: 2rem;

      @include var.breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include var.breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      p {
        font-size: 1.9rem;
        margin-top: 1.7rem;
        line-height: 1.3;
      }
    }

    li {
      .img-top {
        width: 100%;
      }
    }

    .text-content {
      background: var.$blue;
      color: white;
      padding-inline: 5rem;
      padding-block: 2.9rem 3.3rem;
      max-width: 85%;
      margin-inline: auto;
      position: relative;
      top: -50px;

      @include var.breakpoint(mobile) {
        max-width: 95%;
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 2rem;

      font-size: 2.6rem;
      font-weight: 600;
      color: white;
    }
  }

  .engagement {
    padding-block: 3rem 5.6rem;
    background-size: cover !important;

    .container-narrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
    }

    .content {
      max-width: 961px;

      @include var.breakpoint(tablet) {
        max-width: 90%;
      }
    }

    h2 {
      margin-bottom: 3rem;
    }

    p {
      font-size: 1.9rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    .btn {
      color: var.$blue;
      background: white;
      border: 1px solid white;
      transition: 0.3s ease-in-out;
      margin-top: 3rem;

      @include var.breakpoint(tablet) {
        margin-top: 3.5rem;
      }

      &:hover {
        background: transparent;
        color: white;
      }
    }
  }

  .export {
    background: var.$lightGray;
    padding-block: 3.8rem 4.1rem;
    margin-bottom: 6.2rem;

    @include var.breakpoint(mobile) {
      padding-bottom: 4.8rem;
    }

    .container-narrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    h2 {
      margin-bottom: 1.8rem;
    }

    .text {
      margin-bottom: 2.5rem;
      max-width: 823px;
      font-size: 2.6rem;
      line-height: 1.3;

      @include var.breakpoint(tablet) {
        font-size: 1.6rem;
        margin-bottom: 3.5rem;
      }

      @include var.breakpoint(900px) {
        max-width: 100%;
      }
    }

    .link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.8rem;

      @include var.breakpoint(tablet) {
        gap: 2.8rem;
      }
    }

    .btn {
      background: black;
      color: white;
      font-weight: 600;
      transition: 0.3s ease-in-out;
      display: flow-root;
      font-size: 1.9rem;

      &:hover {
        background: transparent;
        color: black;
      }

      @include var.breakpoint(tablet) {
        font-size: 1.6rem;
      }
    }
  }

  .marques {
    margin-bottom: 14.8rem;
    margin-top: 8rem;
  }
}
