@use "../abstracts" as var;

#identite {
  padding-bottom: 8.3rem;
  .hero-banner {
    margin-top: 5.6rem;
    position: relative;
    z-index: 2;

    .container-narrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5.2rem;
    }

    h1 {
      color: var.$blue;
      max-width: 75%;
      text-transform: uppercase;
    }

    img {
      max-width: 55%;
    }
  }

  .implantation {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    .blue-content {
      margin-top: -6em;
      background: var.$blue;
      color: white;
      padding-block: 14.3rem 10.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 71%;

      @include var.breakpoint(tablet) {
        width: 100%;
        justify-content: start;
      }

      div {
        width: 42%;
        margin-left: 3em;
      }
    }

    img {
      position: absolute;
      right: 17em;
      top: -26em;

      @include var.breakpoint(1849px) {
        right: 10em;
      }

      @include var.breakpoint(1616px) {
        right: 12em;
        top: -16em;
        max-width: 29%;
      }
    }
  }

  .histoire {
    padding-block: 6.1rem;
    position: relative;

    .background-gray {
      background: var.$lightGray;
      width: 100%;
      height: 78%;
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    .container-narrow {
      display: flex;
      justify-content: center;
      align-items: start;
      position: relative;
      gap: 8.6rem;

      img {
        max-width: 50%;
        position: relative;
        z-index: 3;
      }

      .content {
        font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)));
        position: relative;
        z-index: 1;
        margin-top: 3em;
      }

      h2 {
        margin-bottom: 2.5rem;
      }
    }

    .blue-text {
      background: var.$blue;
      color: white;
      position: absolute;
      bottom: -6em;
      right: 1em;
      z-index: 2;
      padding: 4.8rem 7rem 8.8rem 11.9rem;
      max-width: 55%;
      font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 600;
    }
  }

  article {
    margin-top: 10rem;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)));

    h3 {
      font-size: calc(40px + (49 - 40) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 700;
      margin-bottom: 2.6rem;
    }
  }
}
