@use "../abstracts" as var;

#product {
  margin-top: 4.1rem;
  position: relative;

  #breadcrumbs {
    max-width: 69%;
    margin-inline: auto;

    @include var.breakpoint(tablet) {
      max-width: 95%;
    }

    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.3em;
      font-size: 1.7rem;
      color: var.$blue;
      list-style: none;
      flex-wrap: wrap;

      @include var.breakpoint(400px) {
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }

      .divider {
        color: black;
        border-radius: 0;

        @include var.breakpoint(400px) {
          display: none;
        }
      }

      a {
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;

        &:hover {
          color: var.$blue;
        }
      }
    }
  }

  .hero-banner .container-narrow {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 8.2rem;

    @include var.breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    @include var.breakpoint(mobile) {
      grid-template-columns: 1fr;
    }

    .galleries {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      img {
        object-fit: fill;
      }
    }

    .swiper-thumbs .swiper-slide {
      border: 1px solid var.$blue;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    .swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
      border: 1px solid transparent;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .text {
      margin-top: 2.2rem;
      font-size: 2rem;
      color: black;

      @include var.breakpoint(tablet) {
        font-size: 1.6rem;
      }

      strong {
        margin-bottom: 3.7rem;
        display: flow-root;

        @include var.breakpoint(tablet) {
          font-size: 1.7rem;
        }
      }
    }
  }

  .logo {
    width: 73px;
    margin-bottom: 2.2rem;
  }

  h1 {
    text-transform: uppercase;
  }

  .btn.download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    transition: 0.3s ease-in-out;
    margin-top: 4.9rem;

    g {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      background: black;
      color: white;

      svg g {
        fill: white;
      }
    }
  }

  .btn.brochure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    transition: 0.3s ease-in-out;
    background: black;
    color: white;
    margin-top: 2.2rem;

    transition: 0.3s ease-in-out;

    svg path {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      background: white;
      color: black;

      svg path {
        fill: black;
      }
    }
  }

  .specs {
    margin-block: 9.2rem 16.8rem;

    h2 {
      margin-bottom: 8.1rem;
      text-align: center;
      position: relative;

      &::after {
        content: "";
        background: url("../../public/vague-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 80px;
        height: 31.41px;
        position: absolute;
        bottom: -1em;
        right: 0;
        left: 0;
        margin-inline: auto;
      }

      @include var.breakpoint(tablet) {
        margin-bottom: 9.1rem;

        &::after {
          bottom: -1.3em;
        }
      }
    }

    .specs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      strong {
        text-transform: uppercase;
        font-weight: 400;
      }

      em {
        font-weight: 400;
        font-style: normal;
      }

      p {
        font-size: 1.9rem;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: start;
        border-radius: 10px;
        padding: 2rem 3.6rem;
        box-shadow: 0px 3px 6px #00000029;
        background: white;

        @include var.breakpoint(tablet) {
          grid-template-columns: 0.8fr 1fr;
        }

        @include var.breakpoint(500px) {
          font-size: 1.6rem;
        }

        &:nth-of-type(odd) {
          background: #fafafa;
        }
      }
    }
  }

  .same-product {
    background: var.$lightGray;
    padding-block: 4.7rem 11.45rem;

    h2 {
      margin-bottom: 8.1rem;
      text-align: center;
      position: relative;

      &::after {
        content: "";
        background: url("../../public/vague-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 80px;
        height: 31.41px;
        position: absolute;
        bottom: -1em;
        right: 0;
        left: 0;
        margin-inline: auto;
      }

      @include var.breakpoint(tablet) {
        margin-bottom: 9.1rem;

        &::after {
          bottom: -1.3em;
        }
      }
    }
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.9rem;
    justify-items: center;
    align-items: start;
    list-style: none;

    @include var.breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.5rem;
    }

    @include var.breakpoint(mobile) {
      grid-template-columns: 1fr;
      align-items: center;
    }

    a {
      text-decoration: none;
    }
    .categories-same-product {
      a {
        color: var.$blue !important;
        pointer-events: none;
      }
    }

    .product-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;

      @include var.breakpoint(mobile) {
        align-items: center;
      }

      li {
        color: var.$blue;
        text-decoration: none;
        display: flex;
        justify-content: start;
        align-items: center;

        @include var.breakpoint(mobile) {
          align-items: center;
        }

        a {
          color: var.$blue;
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.9rem;
    }

    strong {
      font-size: 2rem;
      margin-block: 2.1rem 1.1rem;
      color: black;
      text-decoration: none;
      display: flow-root;
    }
  }

  .devis-container {
    position: fixed;
    background: rgb(0 0 0 / 0.64);
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
      display: none;
    }

    #close-devis {
      cursor: pointer;
    }

    .devis {
      background: white;
      width: 48%;
      margin-inline: auto;

      @include var.breakpoint(tablet) {
        width: 75%;
      }

      @include var.breakpoint(974px) {
        width: 95%;
      }
    }

    .top {
      background: black;
      color: white;
      position: relative;
      padding-block: 3rem;
      text-align: center;

      h3 {
        font-size: 2.4rem;
        font-weight: 600;
        max-width: 43%;
        margin-inline: auto;
        text-align: center;

        @include var.breakpoint(mobile) {
          font-size: 2rem;
          max-width: 95%;
        }

        @include var.breakpoint(372px) {
          font-size: 1.8rem;
        }
      }

      img {
        position: absolute;
        top: 10%;
        right: 2%;
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-block: 3.8rem 3.3rem;
      padding-inline: 2.9rem;

      @include var.breakpoint(mobile) {
        padding-inline: 1rem;
        padding-block: 2rem 1rem;
      }

      h3 {
        font-size: 2.4rem;
        font-weight: 600;
        margin-inline: auto;
        text-align: center;
        margin-bottom: 2.6rem;
        display: flow-root;

        @include var.breakpoint(mobile) {
          font-size: 2rem;
        }

        @include var.breakpoint(372px) {
          font-size: 1.8rem;
          margin-bottom: 1.6rem;
        }
      }

      .sib_signup_box_inside_4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-items: start;
        column-gap: 2.9rem;
        row-gap: 2.6rem;

        @include var.breakpoint(tablet) {
          column-gap: 1.5rem;
          row-gap: 1.2rem;
        }

        @include var.breakpoint(mobile) {
          grid-template-columns: 1fr;
        }
      }

      input {
        font-size: 1.9rem;
        padding: 1rem;

        @include var.breakpoint(mobile) {
          font-size: 1.6rem;
        }
      }

      label {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.9rem;

        @include var.breakpoint(mobile) {
          font-size: 1.6rem;
        }
      }

      label[for="terms"] {
        flex-direction: row;
        justify-content: center;
        align-items: start;
        grid-column: 1 / 3;

        @include var.breakpoint(mobile) {
          grid-column: 1;
        }

        input {
          margin-top: 0.4em;
        }

        p {
          display: inline;
        }
      }

      label[for="informations"] {
        grid-column: 1 / 3;

        @include var.breakpoint(mobile) {
          grid-column: 1;
        }

        textarea {
          width: 100%;
          min-height: 161px;
        }
      }

      a {
        color: black;
      }
    }

    .sib_msg_disp {
      display: none !important;
    }
  }

  #hidden {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 0;
    height: 0;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
  }

  .submit-container {
    grid-column: 1 / 3;
    justify-self: end;

    @include var.breakpoint(mobile) {
      grid-column: 1;
      justify-self: center;
    }
  }

  input[type="submit"] {
    background: black;
    color: white;
    transition: 0.3s ease-in-out;

    &:hover {
      color: black;
      background: white;
    }
  }
}

.swiper {
  width: 534px;
  height: 534px;

  @include var.breakpoint(977px) {
    width: 300px;
    height: 300px;
  }

  @include var.breakpoint(mobile) {
    width: 534px;
    height: 534px;
  }

  @include var.breakpoint(631px) {
    width: 300px;
    height: 300px;
  }
}

.swiper-thumbs {
  height: 117px;
  width: 534px;

  @include var.breakpoint(977px) {
    width: 300px;
    height: 59px;
  }

  @include var.breakpoint(768px) {
    width: 534px;
    height: 117px;
  }

  @include var.breakpoint(631px) {
    width: 300px;
    height: 59px;
  }
}

.contenu-flexible {
  .video {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 522px;
    margin-top: 8.7rem;
  }

  .blue-background {
    background: var.$blue;
    position: absolute;
    top: -50px;
    right: 0;
    width: 67%;
    height: 100%;
    z-index: -1;

    @include var.breakpoint(tablet) {
      width: 85%;
    }

    @include var.breakpoint(932px) {
      width: 95%;
    }
  }

  iframe {
    width: 42%;
    min-height: 505px;

    @include var.breakpoint(tablet) {
      width: 85%;
      height: 605px;
    }

    @include var.breakpoint(932px) {
      width: 95%;
      height: auto;
    }
  }
}
